* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./caluator2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: 15px;
    font-size: larger;
    color: #000000;
}

.box {
    min-height: 300px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: transparent; */
    /* background-color: #5D688A; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    border-radius: 10px;
}

.row1 input {
    border: none;
    height: 60px;
    width: 80px;
    margin-top: 4px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 699;
    color: #0f0f10;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #3a4452;
    ;
}

.display {
    display: flex;
    justify-content: end;
    margin: 20px 0;

}

.display input {
    text-align: right;
    flex: 1;
    padding: 10px;
    font-size: 30px;
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(255, 255, 255, 0.2; */
    /* padding-bottom: 10px; */
}

input.equal {
    width: 164px;
    color: #7a0adc;
}

form input.btn {
    color: #ff0000;

    /* background-color: #000000; */
}

form input.btn2 {
    color: hsla(0, 0%, 100%, 1);
    font-weight: 900;
    /* background-color: #000000; */
}